div.title{
   text-align:center;
        font-size:300%;
            font-weight:bolder;
                font-family:cursive;
                    color:IndianRed;
                        background:rgba(255, 235, 205,0.8);
}

.eins{
  background-size:cover;
  height:100vh;
  background-image:url("https://github.com/StanleyHuangEE/wp2016/blob/gh-pages/thinking.jpg?raw=true");
  text-align:center;
  padding:180px 0;
  font-size:600%;
  font-family: 'Merriweather Sans', sans-serif;
  color:white;
}

.zwei{
  background-size:cover;
  height:100vh;
  background-color:#5bb4e5;
  text-align:center;
  padding:100px 0;
  font-size:500%;
  font-family: 'Merriweather Sans', sans-serif;
  color:white;
  }

.drei{
  background-size:cover;
  height:100vh;
  background-color:white;
  text-align:center;
  padding:40px 0;
  font-size:500%;
  font-family: 'Merriweather Sans', sans-serif;
  color:rgb(52,78,80);
}


.vier{
  background-size:cover;
  height:100vh;
  background-color:#c4ebef;
  text-align:center;
  padding:100px 0;
  font-size:500%;
  font-family: 'Merriweather Sans', sans-serif;
  color:rgb(52,78,80);
}


p{
  font-size:50%;
  padding:10px 0;
}

.drei img{
    border-radius:50%;
}

.opennav{
    font-size:22px;
    cursor:pointer;
    position:fixed;
    left:22px;
    top:20px;
    color:rgb(220, 220, 220,0.4);
}

.sidenav{
    height:100%;
    width:0;
    z-index:1;
    position:fixed;
    left:0;
    top:0;
    overflow-x:hidden;
    transition:0.6s;
    padding-top: 60px;
    background-color:#2f383f;
}

.sidenav a{
    padding:8px 8px 8px 32px;
    text-decoration:none;
    font-size:25px;
    color:#979c9f;
    transition:0.6s;
    display:block;
}

.sidenav a:hover{
    color:gray;
}

.sidenav .closebtn {
    position: absolute;
        top: 0;
            right: 25px;
                font-size: 36px;
                    margin-left: 50px;
                    }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

.personalProfile:hover{
    color:IndianRed;
}

.contact:hover{
    color:IndianRed ;
}

.personalProfile, .contact{
    text-align:left;
    font-size:200%;
    font-weight:bold;
    font-family:'Poiret One',cursive;
    color:gray;
    background:rgba(255, 235, 205,0.7);
    width:600px;
}

.personalProfile{
    margin-bottom:0;
}

.pp, .cc{
    text-align:center;
    font-size:150%;
    color:IndianRed;
    font-family:fantasy;
    margin-top:0;
    position:relative;
}

span.ref{
    margin-right:10px;
    border-style:inset;
    background-color:#FFF0F5;
    font-size:18px;
}

body.japan{
    margin:0px;
    padding:0px;
    background-color:black;
    background:#ffffff url(https://goo.gl/Vt2bro) center center fixed no-repeat;
    background-size: cover;
}

marquee a:link {
    color:green;
    background-color: transparent;
    text-decoration: none;
}
marquee a:visited{
    color:green;
    background-color:transparent;
    text-decoration:none;
}
marquee a:hover{
    color:red;
    background-color:transparent;
    text-decoration:underline;
}
marquee a:active{
    color:yellow;
    background:transparent;
    text-decoration:underline;
}

.sideFixed{
    position:fixed;
    bottom:10em;
    right:0; 
}

body{
    margin:0;
    padding:0;
}

footer{
    display:block;
    background:white;
    position:relative;
    height:60px;
    margin-top:0;
    bottom:0;
    width:100%;
    margin:0;
    padding:10px;
}
