

h1{
font-size:30px;
font-family:cursive;
font-color:#FF69B4
background:rgba(60 ,56% ,91% ,0.8);
}

a.fo{
font-size:20px;
font-style:fantasy;
}

a.bg{
background:rgba(187, 52%, 80% ,0.7);
}

span{
margin-right:10px;
border-style:inset;
background-color:#FFF0F5;
font-size:18px;
}

body{
margin:0px;
padding:0px;
background-color:black;
background:#ffffff url(https://goo.gl/Vt2bro) center center fixed no-repeat;
background-size: cover;
}

