
b{
font-size:12px;
}

span{
margin-right:10px;
border-style:inset;
background-color:#FFF0F5;
font-size:18px;
}

body{
margin:0px;
padding:0px;
background:#fff url(http://japan.diverse.jp/img/p1_logo@2x.png) center center fixed no-repeat;
background-size: cover;
}

